
.navbar{
background-color:#022819;


}



.navbar text{
    color: #a6c099;
}

.navbar a{
    color: #a6c099;
}

body{
    background-color: #294b30;
}

body text{
    color: #a6c099;
}
.mb-3{
    color: #a6c099;
}

.right-appointmnet{
    gap: 20px;
}


/* .selection-button{
    background-color: brown;
} */

.service-button-group{
    background-color: blue;
}



.wash_buttons {
    padding: 10px 20px;
    border: 1px solid #a76d6d;
    border-radius: 3px;
    background-color: rgb(40, 35, 73);
    color: #b04040;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.wash_buttons.disabled {
    background: #a76d6d;
    color: #b04040;
    cursor: not-allowed;
}
.wash_buttons.disabled:hover {
    background: #1d0606;
    color: #0b0808;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
}

.service_buttons {
    /* Styles for add-on buttons */
    padding: 10px 20px;
    border: 1px solid #a76d6d;
    border-radius: 3px;
    background-color: rgb(40, 35, 73);
    color: #b04040;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.service_buttons.disabled {
    background: #a76d6d;
    color: #b04040;
    cursor: not-allowed;
}

.service_buttons.disabled:hover {
    background: #1d0606;
    color: #0b0808;
}

.selected {
    background-color: #e91025;
    color: white;
  }





.checkbox-input:disabled {
    background: gray;
    background-color: #022819;
    
  }




.small-container {
    max-width: 600px;
}

button:hover {
    background-color: #e91025 !important;
    color: white !important;
}

/* Hide the browser's default checkbox */
/* .service_buttons input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
} */


/* .add-ons{
    color: black;
    font-weight: bold;
    font-family: system-ui;
    font-size: 13px;
    border: 1px solid #e91025;
    border: none;
    border-radius: 3px;
    background-color: rgb(29, 113, 118);
} */
/* .add-ons:disabled {
    background: gray !important;
} */

.active {
    background: #dc3545;
    color: white;
    font-weight: bold;
    font-family: system-ui;
    border: 1px solid #e91025;
    border-radius: 3px;
}

.disabled {
    background-color: #a76d6d;
    background: #a76d6d;
}


  

