
.navbar{
background-color:#022819;


}

.navbar:hover{
    color: #a6c099;
}

.navbar text{
    color: #a6c099;
}

.navbar a{
    color: #a6c099;
}

body{
    background-color: #b49988;
}

.form-control{
    background-color: #a6c099!important;
}

.form-select{
    background-color: #a6c099!important;
}

body text{
    color: #a6c099;
    
}
.mb-3{
    color: rgba(6, 62, 18, 0.863);
    font-weight: 500;
}


.card{
    background-color: #a6c099e3;
    color:rgb(7, 83, 24)
}

.right-appointmnet{
    gap: 20px;
}


/* .selection-button{
    background-color: brown;
} */

.service-button-group{
    background-color: blue;
}



.wash_buttons {
    padding: 10px 20px;
    border: 1px solid #a76d6d;
    border-radius: 3px;
    background-color:#a6c099;
    color: #b04040;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color:  rgb(7, 83, 24);
    
}

.wash_buttons:hover {
    background-color: #1c4832;
    color: white;
}

.wash_buttons.disabled {
    background: #a76d6d;
    color: #802323ac;
    cursor: not-allowed;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
}

button{
    background-color:#a6c099 !important;    
    color: #0f291c!important;
    font-weight: bold !important;
    border: 1px solid #6b3109 !important;
}   

button:hover {
    background-color: #143826 !important;
    color: white !important;
}

.service_buttons {
    /* Styles for add-on buttons */
    padding: 10px 20px;
    border: 1px solid #a76d6d;
    border-radius: 3px;
    background-color: #a6c099e3;
    color: ;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.service_buttons.disabled {
    background: #5b4132;
    color: #4f1717;
    cursor: not-allowed;
}


.selected {
    background-color: #1c4832;
    color: white;
}


.summary p{
    color: #1c4832;
    font-weight: bold;
}


.checkbox-input:disabled {
    background: gray;
    background-color: #022819;
    
}


.complete_container p{
    color: #1c4832;
    font-weight: bold;
    
}
.complete_container li{
    color: #1c4832;
    font-weight: bold;
    
}


.small-container {
    max-width: 600px;
}

.active {
    background: #dc3545;
    color: white;
    font-weight: bold;
    font-family: system-ui;
    border: 1px solid #e91025;
    border-radius: 3px;
}

.disabled {
    background-color: #a76d6d;
    background: #a76d6d;
}




