{% extends "base.html" %}


{% block title %} About Us {% endblock %}


{% block body %}

<div class="container">



<div class="content" style="margin-top: 50px;">
    <h6>Gisela!</h6>
    <p>A lifetime doglover, in 2017 Gisela fell in love with the art of grooming.
    She started by practicing on her Pekignese Coco. Eventually she began working for a small
    but prestigious groomerie in San Jose California, learning as much as she could.</p>

    <p>Now she has struck out on her own and is looking to make a name for herself in the grooming industry.</p>
    


</div>

<div class="image">
    ***(insert image of coco and gise here)***

</div>



</div>




{% endblock %}