{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="container" style ="margin-top: 300px;">

    <div class="main-content d-flex justify-content-around">
        <div class="get-started">
            <p>This is the best grooming site you've ever seen!!</p>
            <form action="{% url 'book_appointment' %}">
            <button type ="submit" class ="btn-primary btn" style = "margin-left: 120px;"> Get Started </button>
            </form>

        </div>
<!-- placeholder for larger image for frontpage -->
        
        <div style="width:100px; height: 100px; background-color: brown;">

        </div>

    </div>



    <div class="footer mx-auto text-center" style="margin-top: 300px;">
        <hr>
        
        <h4>Locations</h4>
        <p>Redding California</p>
        <form action="{% url 'book_appointment' %}">
            <button type="submit" class="btn btn-primary float-left">Book now!</button>
          </form>

    </div>

    


</div>


{% endblock %}