{% extends "base.html" %}

{% block title %} services {% endblock %}

{% block body %}
<div class="container">
    <h1>Our Services:</h1>


    <div class = "top-content d-flex flex-column">
        <div class="washes d-flex justify-content-center gap-5">
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Basic Wash</h5>
                  <p class="card-text">Clean your pup without breaking the bank</p>
                  <hr>
                  <a>$40</a>
                </div>
              </div>
              <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Premium Wash</h5>
                  <p class="card-text">Spoil your pet with our finest available washes</p>
                  <hr>
                  <a>$60</a>
                </div>
              </div>
        </div>
        
        <div class="cuts d-flex justify-content-around">
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Trim</h5>
                  <p class="card-text">A touch up cut</p>
                  <hr>
                  <a>$20</a>
                </div>
              </div>
              <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cut</h5>
                  <p class="card-text">A full cut with style</p>
                  <hr>
                  <a>$70</a>
                </div>
              </div>
              <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Specialty Cut</h5>
                  <p class="card-text">Feeling ambitious? Try something new! Consult with your groomer to find your dogs next style</p>
                  <hr>
                  <a>$100-200</a>
                </div>
              </div>
            
            
        
        </div>

        <div style="width: 100%; height: 20px; font-size: larger; border-bottom: 1px solid black; text-align: center; margin: 10px;">
            <span style=" background-color: #294b30; padding: 0 10px; font-weight: bold;">
                Add-ons!<!--Padding is optional-->
            </span>
        </div>

    </div>

    <div class="bottom-content d-flex justify-content-center gap-5">
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Hydrating Skin-Treatment</h5>
              <p class="card-text">Description</p>
              <hr>
              <a>$80</a>
            </div>
          </div>
        
          <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Haircut</h5>
              <p class="card-text">Description</p>
              <hr>
              <a>$80</a>
            </div>
          </div>
          <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">De-Shedding</h5>
              <p class="card-text">Description</p>
              <hr>
              <a>$30</a>
            </div>
        </div>     
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Nail-Trim</h5>
              <p class="card-text">Description</p>
              <hr>
              <a>$30</a>
            </div>
        </div> 
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">De-Matting</h5>
              <p class="card-text">Description</p>
              <hr>
              <a>$50</a>
            </div>
        </div>
    </div>


</div>



{% endblock %}